.select-city{
  background: url('/assets/resources/images/gp.jpg') no-repeat;
  background-size: cover; /*Css padrão*/
  /* filter: brightness(70%); */
  padding: 13vmin 0;
  margin-bottom: 0px;
}
.select-city label{
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.select-city .select-wrapper{
  color: white;
}

