<div class="row company-search mb-0">
  <div class="container">
    <div class="input-field col s12">
      <input id="first_name" type="text" [(ngModel)] = "this.company" class="validate">
      <label for="first_name" [style.color]="'white'">Buscar Empresa Cadastrada</label>
    </div>
    <div class="input-field col s2 offset-s10">
      <button class="btn waves-effect waves-light" (click)="getCompany()">BUSCAR
      </button>
    </div>
    <br>
    <a class="buscarServico" (click)="showService()">BUSCAR POR SERVIÇO</a>
  </div>
</div>
